<form asp-controller="Order" asp-action="Payment" method="post">
    <div class="mb-3">
       <label class="form-label" for="cardNumber">Card Number</label>
        <input required type="tel" id="cardNumber" name="cardNumber" pattern="[*0-9 ]*">
    </div>

    <div class="mb-3">
      <label class="form-label" for="expirationMonth">Expiry Month</label>
        <select required id="expirationMonth" name="expirationMonth">
          <option value="1">01</option>
          <option value="2">02</option>
          <option value="3">03</option>
          <option value="4">04</option>
          <option value="5">05</option>
          <option value="6">06</option>
          <option value="7">07</option>
          <option value="8">08</option>
          <option value="9">09</option>
          <option value="10">10</option>
          <option value="11">11</option>
          <option value="12">12</option>
        </select>
    </div>

    <div class="mb-3">
        <label class="form-label" for="expirationYear">Expiry Year</label>
        <select required id="expirationYear" name="expirationYear">
          <option value="2025">2025</option>
          <option value="2026">2026</option>
          <option value="2027">2027</option>
          <option value="2028">2028</option>
          <option value="2029">2029</option>
          <option value="2030">2030</option>
          <option value="2031">2031</option>
          <option value="2032">2032</option>
          <option value="2033">2033</option>
          <option value="2034">2034</option>
          <option value="2035">2035</option>
          <option value="2036">2036</option>
          <option value="2037">2037</option>
          <option value="2038">2038</option>
          <option value="2039">2039</option>
          <option value="2040">2040</option>
        </select>
    </div>

    <div class="mb-3">
        <label class="form-label" for="cvv">CVV (3 digit code)</label>
        <input type="tel" id="cvv" name="cvv" maxlength="3">
    </div>

    <div class="d-grid mb-3">
        <button type="submit" class="btn btn-primary">Submit Payment</button>
    </div>
</form>