@using RestaurantManager.Models
@model Order

<h3>Delivery Details</h3>

<div>
    <p>Scheduled Time: @Model.ScheduledTime</p>
</div>

<div class="mb-3">
    <label asp-for="DeliveryInstructions" class="form-label">Instructions</label>
    <textarea asp-for="DeliveryInstructions" class="form-control"></textarea>
</div>
