@model RestaurantManager.Models.User

<h3>Harvest Club Rewards</h3>
@if (Model != null)
{
    <div class="mb-3">
        <label class="form-label">Apply Reward Points @Model.RewardsPoints</label>
    </div>
}
else
{
    <p class="text-danger">Reward points not available.</p>
}
