@model RestaurantManager.Models.Order

<h3>Pickup Information</h3>
<div class="mb-3">
    <label asp-for="ScheduledTime" class="form-label">Pickup Time</label>
    <input asp-for="ScheduledTime" type="datetime-local" class="form-control" />
</div>
