@{
    ViewBag.Title = "Reservation Confirmed";
}

<div class="container mt-5 d-flex flex-column align-items-center">
    <h2 class="text-success">Reservation Confirmed</h2>
    <p>Thank you! Your table has been booked.</p>
</div>
