@{
    ViewData["Title"] = "Home Page";
}

<div>
    <section class="hero-section text-center">
        <div class="hero-mask d-flex flex-column justify-content-start align-items-center">
            <div>
                <h1 class="display-1 mb-3">harvest & hearth</h1>
                <h4 class="mb-3">farm to table - Edmonton</h4>
                <a asp-controller="Menu" asp-action="Index" class="btn btn-primary btn-lg mt-5">View Menu</a>
            </div>
        </div>
    </section>

    <section class="py-5 mt-5">
        <div class="container my-3">
            <div class="text-center mb-5">
                <h2 class="display-4">A Taste of the Season</h2>
                <p class="lead">Fresh, seasonal ingredients at the heart of every dish.</p>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-auto d-flex gap-4">
                    <img src="~/images/saskatoon-pie-img.png" class="img-fluid rounded shadow-sm seasonal-img"
                        alt="Seasonal Dish 1" />
                    <img src="~/images/beef-img.png" class="img-fluid rounded shadow-sm seasonal-img"
                        alt="Seasonal Dish 2" />
                    <img src="~/images/beef-img.png" class="img-fluid rounded shadow-sm seasonal-img"
                        alt="Seasonal Dish 2" />
                </div>
            </div>
        </div>
    </section>

    <section class="about-us-section py-5 mt-5 mb-5">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <img src="~/images/restaurant.png" class="img-fluid rounded" alt="Restaurant Image" />
                </div>
                <div class="col-md-6 ps-md-5 ps-lg-6 ps-xl-7">
                    <h2 class="display-4 my-4">About Us</h2>
                    <p class="lead">At Harvest & Hearth, we're passionate about bringing the flavors of Alberta
                        to your table. Nestled in downtown Edmonton, our modern Canadian bistro focuses on fresh, local
                        ingredients, creating a
                        dining experience that's as sustainable as it is unforgettable.</p>
                </div>
            </div>
        </div>
    </section>

</div>